<div class="backdrop" (click)="onClickToggleWindow()"></div>
<div class="reply__container">
  <h1>{{modalTitle}}</h1>
  <form (ngSubmit)="onEmitValues(title, content)" #form="ngForm">
    <div>
      <div>
        <label for="title">Title</label>
        <input 
          type="text" 
          placeholder="Title..." 
          #title="ngModel" 
          id="title" 
          ngModel 
          [value]="replyTitle ? replyTitle : ''"
          name="title"
          required/>
      </div>
      <div> 
        <label for="content">Content</label> 
        <textarea 
          type="text" 
          placeholder="Message..." 
          #content="ngModel" 
          id="content" 
          ngModel 
          name="content"
          required>
        </textarea>
      </div>  
      <button [disabled]="!form.valid" type="submit">{{buttonTitle}}</button>
    </div>
  </form>
</div>