<header class="d-flex">
  <div>
    <img class="brand-image" src="../../../../assets/D.png" alt="home" />
  </div>
  <div class="m-0 d-flex align-items-center header-container">
    <div class="login-container">
      <input placeholder="Username..." #email>
      <input placeholder="Password..." #password>
      <button class="btn btn-light" role="button" (click)="login(email, password)">
        Log in
      </button>
      <button class="btn btn-light" style="margin-left: 1rem;" role="button" (click)="toggleRegisterModal()">
        Register
      </button>
    </div>
    <div class="hamburger-icon" (click)="popMenu()">
      <div class="hamburger-section"></div>
      <div class="hamburger-section"></div>
      <div class="hamburger-section"></div>
    </div>
  </div>
</header>
<app-register-modal (dismiss)="toggleRegisterModal()" *ngIf="showRegisterModal"></app-register-modal>