<div class="home-page__container">
  <app-reply *ngIf="showCreateThread"
  [title]="'Create new Thread'" 
  [buttonTitle]="'Post'"
  (toggleWindow)="toggleCreateThread()"
  (emitValues)="onCreateThread($event)" ></app-reply>
  <section class="page-content__container">
    <aside class="categories__container">
      <div class="categories-title__container">
        <h2>Categories</h2>
        <img src="../../../assets/categories_icon.png" />
      </div>
      <ul>
        <li *ngFor="let category of (appService.categories$ | async)" [routerLink]="['/category/' + category.code]" routerLinkActive="active-link">
          <p>{{category.title}}</p>
          <p>{{category.threadCount}}</p>
        </li>
      </ul>
    </aside>
    <div class="thread-section__container">
      <h3 style="color: #7B71C2;">{{categoryTitle}}</h3>
      <hr />
      <div class="thread-section_quotebox action-buttons__container">
        <button class="btn btn-light" (click)="toggleCreateThread()">New topic</button>
      </div>
      <div class="threads__container">
        <app-thread-bar *ngFor="let item of threadService.threads$ | async" 
          [title]="item.title" 
          [author]="item.author" 
          [replies]="item.replies"
          [views]="item.views"
          [routerLink]="['thread/', item.id]">
        </app-thread-bar>
      </div>
      <div class="control__container">
        <div class="pagination-nav__container">
          <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>...</li>
            <li>15</li>
          </ul>
        </div>
        <!-- <div class="action-buttons__container">
          <button class="btn btn-light">New topic</button>
        </div> -->
      </div>
    </div>
  </section>
</div>