<div class="home-page__container">
  <app-reply *ngIf="showCreateThread"
  [title]="'Create new Thread'" 
  [buttonTitle]="'Post'"
  (toggleWindow)="toggleCreateThread()"
  (emitValues)="onCreateThread($event)" ></app-reply>
  <section class="page-content__container">
    <aside class="categories__container">
      <div class="categories-title__container">
        <h2>Categories</h2>
        <img src="../../../assets/categories_icon.png" />
      </div>
      <ul>
        <li *ngFor="let category of (appService.categories$ | async)" [routerLink]="['/category/' + category.code]" routerLinkActive="active-link">
          <p>{{category.title}}</p>
          <p>{{category.threadCount}}</p>
        </li>
      </ul>
    </aside>
    <div class="thread-section__container">
      <h3 style="color: #7B71C2;">{{categoryTitle}}</h3>
      <hr />
      <div class="thread-section_quotebox action-buttons__container">
        <button class="btn btn-light" (click)="toggleCreateThread()">New topic</button>
      </div>
      <div class="threads__container">
        <app-thread-bar *ngFor="let item of threadService.threadsByCategory$ | async" 
          [title]="item.title" 
          [author]="item.userName" 
          [replies]="item.repliesCount"
          [views]="item.viewsCount"
          [created]="item.wasCreated.toString()"
          [routerLink]="['thread/', item.id]">
        </app-thread-bar>
      </div>
      <div class="paginator row">
        <div class="col-xs-12 col-12">
          <pagination 
            *ngIf="this.threadService.pagination"
            [boundaryLinks]="true" 
            [totalItems]="this.threadService.pagination.totalItems"
            [itemsPerPage]="this.threadService.pagination.itemsPerPage"
            [(ngModel)]="this.threadService.pagination.currentPage"
            (pageChanged)="pageChanged($event)">
          </pagination>
        </div>
      </div>
    </div>
  </section>
</div>