<footer class="d-flex align-items-center justify-content-center">
  <div class="d-flex flex-row align-items-center justify-content-center">
    <div class="d-flex flex-column brand-container">
      <p class="brand-text">D-SPOT</p>
      <p class="brand-slogan">A Perfect<br /> Execution<br /> of the<br /> Director's Vision.</p>
    </div>
    <div class="d-flex flex-row footer-links">
      <div class="p-3">
        <p class="footer-subtitle">About</p>
        <p><a href="#">Upbringing</a></p>
        <p><a href="#">Trials</a></p>
        <p><a href="#">Lifestyle</a></p>
        <p><a href="#">Paris</a></p>
      </div>
      <div class="p-3">
        <p class="footer-subtitle">Business Ventures</p>
        <p><a href="#">Crypto</a></p>
        <p><a href="#">Birdwatching</a></p>
        <p><a href="#">Post Office</a></p>
        <p><a href="#">Stealin'</a></p>
      </div>
      <div class="p-3">
        <p class="footer-subtitle">Projects</p>
        <p><a href="#">D-Spot</a></p>
        <p><a href="#">D-Pot</a></p>
        <p><a href="#">D-Rock</a></p>
        <p><a href="#">D-Cop</a></p>
      </div>
      <div class="p-3">
        <p class="footer-subtitle">Philosophy</p>
        <p><a href="#">Respect</a></p>
        <p><a href="#">Honor</a></p>
        <p><a href="#">Tradition</a></p>
        <p><a href="#">Excellence</a></p>
      </div>
    </div>
  </div>
</footer>