<div class="home-page__container">
  <section class="hero-section">
    <div class="hero-container">
      <img class="hero-image" src="../../../assets/hero.png" />
    </div>
  </section>
  <div class="action-buttons__container">
    <button class="btn btn-light" (click)="toggleCreateThread()">New topic</button>
    <button class="btn btn-light">Go to Forum</button>
  </div>
  <section class="page-content__container">
    <aside class="categories__container">
      <div class="categories-title__container">
        <h2>Categories</h2>
        <img src="../../../assets/categories_icon.png" />
      </div>
      <ul>
        <li *ngFor="let category of (appService.categories$ | async)" [routerLink]="'category/' + category.code">
          <p>{{category.title}}</p>
          <p>{{category.threadCount}}</p>
        </li>
      </ul>
    </aside>
    <div class="thread-section__container">
      <h3 style="color: #7B71C2;">Philosophy</h3>
      <hr />
      <div class="thread-section_quotebox">
        <h2>You gotta give Respect, to get Respect. <span style="color: #7B71C2;">- Daniel Langås</span></h2>
      </div>
      <div class="threads__container" *ngIf="latestThreads">
        <app-thread-bar *ngFor="let item of latestThreads" [title]="item.title" [author]="item.author" [replies]="item.repliesCount"
          [views]="item.viewsCount" [created]="item.wasCreated">
        </app-thread-bar>
      </div>
    </div>
  </section>
  <app-reply *ngIf="showThreadCreater"></app-reply>
</div>
