<div class="thread-page__content">
  <div class="thread__container" *ngIf="thread">
    <div class="thread-panel">
      <input *ngIf="isEditing"
        style="padding: 0.5rem; margin: 1rem;" 
        type="text" 
        [placeholder]="thread?.title" 
        [(ngModel)]="thread.title">
      <h2 *ngIf="!isEditing">{{thread?.title}}</h2>
      <div style="display: flex; gap: 10px;">
        <button 
        *ngIf="thread.userName === this.accountService.currentUser?.userName || this.accountService.currentUser?.userName === 'admin'"
        role="button" 
        class="btn btn-light" 
        (click)="deleteThread(thread)">
          Remove
      </button>
        <button 
        *ngIf="isEditing"
        role="button" 
        class="btn btn-light" 
        (click)="saveThreadChanges()">
          Save
      </button>
      <button 
        *ngIf="editAvailable"
        role="button" 
        class="btn btn-light" 
        (click)="toggleEditThread()">
          Edit
      </button>
    </div>
    </div>
    <div class="thread-content">
      <textarea 
        [(ngModel)]="thread.content"
        style="padding: 2rem; width: 100%; height: 300px;" 
        [disabled]="!this.isEditing">
          {{thread?.content}}
      </textarea>
    </div>
    <div class="thread-footer">
      <div class="thread-footer__stats">
        <p>Replies: {{thread?.repliesCount}}</p>
        <p>Views: {{thread?.viewsCount}}</p>
        <p style="display: flex; flex-direction: row; align-items: center;">By: <span style="margin-left: 1rem; color: #7B71C2; font-size: 1.5rem; position: relative; top: -2px;">{{thread?.userName}} | {{thread?.email}}</span></p>
      </div>
      <p class="thread-footer__modified">Modified: <span style="font-size: 1.3rem;">{{thread?.wasModified | date:'h:mm | dd/MM/yyyy'}}</span></p>
      <p class="thread-footer__written">Written: <span style="font-size: 1.3rem;">{{thread?.wasCreated | date:'h:mm | dd/MM/yyyy'}}</span></p>
    </div>
  </div>
  <button role="button" class="btn btn-light m-3 reply-button" (click)="onToggleCreateWindow()">Reply</button>
  <ng-container *ngFor="let reply of thread?.replies">
    <div class="reply__container">
      <div class="reply-panel">
        <p>Title: 
          <span  *ngIf="!this.repliesEditing.includes(reply?.id)">
            {{reply?.title}}
          </span>
          <input *ngIf="this.repliesEditing.includes(reply?.id)"
            style="padding-left: 0.5rem; margin-left: 0.3rem;" 
            type="text" 
            [placeholder]="reply?.title" 
            [(ngModel)]="reply.title">
          </p>
        <div style="display: flex; gap: 10px;">
          <button 
          *ngIf="reply?.userName === this.accountService.currentUser?.userName || this.accountService.currentUser?.userName === 'admin'"
          role="button" 
          class="btn btn-light" 
          (click)="deleteReply(reply)">
            Remove
        </button>
          <button 
            *ngIf="this.repliesEditing.includes(reply?.id)"
            role="button" 
            class="btn btn-light" 
            (click)="saveReplyChanges(reply.id, reply.title, reply.content)">
              Save
          </button>
          <button 
            *ngIf="canUserEditReply(reply?.userName)"
            role="button" 
            class="btn btn-light" 
            (click)="toggleEditReply(reply?.id)">
              Edit
          </button>
          <button 
            role="button" 
            class="btn btn-light" 
            (click)="onToggleCreateWindow(reply?.userName, reply?.title)">
              Reply to User
          </button>
        </div>     
      </div>
      <div class="reply-content">
        <textarea 
          [(ngModel)]="reply.content"
          style="padding: 2rem; width: 100%; min-height: 200px;" 
          [disabled]="!this.repliesEditing.includes(reply?.id)">
            {{reply?.content}}
        </textarea>
      </div>
      <div class="reply-footer">
        <div class="thread-footer__stats">
          <p style="display: flex; flex-direction: row; align-items: center;">
            By: 
              <span 
                style="
                  margin-left: 1rem; 
                  color: #7B71C2; 
                  font-size: 1.5rem; 
                  position: relative; 
                  top: -2px;">
                    {{reply?.userName}} | {{reply?.email}}
              </span>
          </p>
        </div>
        <p class="reply-footer__written">Modified: <span style="font-size: 1.3rem;">{{reply?.wasModified | date:'h:mm | dd/MM/yyyy'}}</span></p>
        <p class="reply-footer__written">Written: <span style="font-size: 1.3rem;">{{reply?.wasCreated | date:'h:mm | dd/MM/yyyy'}}</span></p>
      </div>
    </div>
  </ng-container>
  <app-reply *ngIf="toggleReply" 
    title="Reply"
    buttonTitle="Send"
    [replyTitle]="this.replyToUser ? 'Replying to: ' + this.replyToUser : ''"
    (emitValues)="onValuesEmitted($event.title, $event.content)" 
    (toggleWindow)="onToggleCreateWindow()">
  </app-reply>
</div>
